@font-face {
font-family: Modulus Medium;
src: url(../fonts/Modulus.ttf);
}
@font-face {
font-family: HelveticaNeueCyr-Roman;
src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face {
font-family: AnonymousPro;
src: url(../fonts/AnonymousPro.ttf);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal;}
q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
*, *:before{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    
body{background: #2ECC71;}
.section {color: white; text-align: center; padding: 85px;}
.section.title {background-color: #2ECC71;}
.logo {font-family:'Modulus Medium', sans-serif;; font-size:170px; text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); cursor: default; position: absolute ;top:0 ;left:0; bottom:0; right:0; margin:5px auto 0; width:235px ;height:140px;}
.section.title h4 {font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;color:#FFFFFF ;position: relative; margin-top:100px ;top:5px}
.scroll_bottom {position: absolute; top:86%; left:0; bottom:0; right:0; margin:auto; width:21px; height:14px; z-index:10;}
#illustration{position: absolute;top:58%;bottom:0;left: 0;right: 0;margin:auto;width:1146px; height:502px; z-index:9;
background: url(../img/ill.png);
}  
/*
#illustration{position: absolute;top:55%;bottom:0;left: 0;right: 0;margin:auto;width:1146px; height:502px; z-index:9;
background: url(../img/illustration.svg);
background-size: 2800px 3950px;
background-position: 50% 9%;
background-repeat: no-repeat;
}  
*/
.demo_b{background: rgba(0,0,0,0.8);border-radius: 3px;}
.demo_d{background: rgba(90, 103, 121, 0.95);border-radius: 3px;}
.demo_e{background: #f56969;border-radius: 3px;}
.demo_s{background: #94C775;border-radius: 3px;}
.demo_w{background: #fff;color:#808E95;border-radius: 3px;}
.section.examples {background-color: #34495E;z-index: 9;padding-top:2%;}
.examples{width:83%;margin:0 auto;padding: 0;}
.examples h3{font-size: 40px;text-align: left;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;}
.examples h2{padding: 30px 0 0 0;text-align: left;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;color:#FFFFFF ;}
.code{height:70px;margin: 21px 0 0 0;text-align: left;padding: 20px;background: #2C3E50;font-family: 'AnonymousPro', sans-serif ;}
.code_t{height:120px;margin: 21px 0 0 0;text-align: left;padding: 20px;background: #2C3E50;font-family: 'AnonymousPro', sans-serif ;}
.ex{padding: 16px 36px;border: 2px solid #fff;background: #495C6E;float: left;margin-top: 20px;margin-right: 20px;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;cursor: pointer;}
.example-1{float:left;width: 48%;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;color:#FFFFFF ;}
.example-2{float:right;width: 48%;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;color:#FFFFFF ;}

.example-3{margin-top: 2%;display: inline-block;  width: 100%;}
.instruction{padding-bottom: 3%;display: inline-block;width: 100%;}
.instruction:last-child{margin-top: 2%;}
.demo{display: inline-block;padding: 15px 20px;cursor: default;}
.examples span{color:#C14A4F;}
.instruction span{color:#F56969;}
.code_s{height:100px;background: #2C81BA;margin: 20px 0 0 0;text-align: left;padding: 20px;font-family: 'AnonymousPro', sans-serif ;}
.opsn{background: #2C81BA;margin: 20px 0 0 0;text-align: left;padding: 20px;font-family: 'AnonymousPro', sans-serif ;}
.modal_content2 {
  padding: 0px 30px;
}

.popover_content_s li{width:100%;padding: 15px 28px 15px 28px;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;color:#6C7479;text-align: left}
.popover_content_s li:hover{background-color: #253138;color:#fff;cursor: pointer;}

.tooltip div{font-family: 'HelveticaNeueCyr-Roman', sans-serif ;}

.popover_content_s li:first-child{border-radius: 3px 3px 0 0;}
.popover_content_s li:last-child{border-radius: 0px 0px 3px 3px;}


.section.instruction {background-color: #3498DB;z-index: 9;padding:2% 0 0 0;}
.theme_ex{font-size: 12px;}

.section.settings  {background-color: #FFAC28;}

.settings{padding:0;text-align: left;margin:0 auto;width:83%;  height: 110%;}
.section.settings .settings h3{font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 40px ;color:#FFFFFF ;text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);padding-top:2%;
}
.section.downloads h4 a{color:#fff;}
.section.downloads h4 a:hover{color:#fff;text-decoration: none;}


.datagrid{background-color:#FFAC28;margin:0 auto;height: 65%;color:#5D5C5C;}
.head_text{color:#FEFAF7;background: #E59A24;}
.head_text td{padding: 15px 0px;}
.datagrid table,.tg{border-collapse:collapse;border-radius: 4px;}
.datagrid table{width:100%;background-color:#FFAC28;margin:0 auto;vertical-align: top;}
.datagrid{font:400 15px/150% 'HelveticaNeueCyr-Roman', sans-serif ;}
.datagrid table td{padding: 10px 45px 10px 20px;line-height: 1.2;}
.datagrid table td:first-child{padding: 10px 40px 10px 20px;}
.datagrid table tbody tr{height: 100px;background-color: #FFB43E;}
.datagrid table tbody tr:nth-child(2n+2){background: #FFAC28;}	
.datagrid table tbody .alt td{color:#5D5C5C;}

.datagrid_z{ background-color: #E59A24;
  margin: 0 auto;
  margin-top: 31px;
  color: #fff;
  display: inline-block;
  width: 97.2%;
  margin-bottom: 0px;}
.head_text{color:#FEFAF7;background: #E59A24;}
.head_text td{padding: 15px 0px;}
.datagrid_z table,.tg{border-collapse:collapse;border-radius: 4px;}
.datagrid_z table{width:100%;background-color:#FFAC28;margin:0 auto;vertical-align: top;}
.datagrid_z{font:400 15px/150% 'HelveticaNeueCyr-Roman', sans-serif ;}
.datagrid_z li{padding: 10px 4.5% 10px 20px;line-height: 1.2;background-color: #E59A24;display:inline-block;}
.datagrid_z li:first-child{padding: 10px 9.2% 10px 20px;}
.datagrid_z li:last-child{padding: 10px 100px 10px 12.2%;}
.datagrid_z table tbody tr{height: 40px;background-color: #FFB43E;}	
.datagrid_z table tbody .alt td{color:#5D5C5C;}

.section.downloads { background-color: #E74C3C;}

.logo_bottom {font-family:'Modulus Medium', sans-serif;; font-size:170px; text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); cursor: default; position: absolute ;top:0 ;left:0; bottom:0; right:0; margin:50px auto 0; width:235px ;height:140px;}
.section.downloads h4 {font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;color:#FFFFFF ;position: relative; margin-top:100px ;top:50px}

.butt-d {position: relative;top:30px;border:3px solid #FFFDFD;margin:70px auto 0;
width:300px;height: 62px;background-color: #E74C3C;}
.butt-d a{position: relative;top:15px;text-decoration: none;color:#FFFFFF; font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 25px;text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); }

.report{position: relative;top:60px;margin:auto;}
.report a{font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px;color:#FFFFFF;border-bottom: 1px dotted #fff;text-decoration: none;}
.report a:hover{font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px;color:#FFFFFF;border-bottom: 0px dotted #fff;text-decoration: none;}

#social{position: relative;top:40%;bottom: 0;left: 0;right: 0;}
#social a{padding: 0 15px;opacity: 0.5;}
#social a:hover{padding: 0 15px;opacity: 1;}

#e-mail{border: 1px solid rgba(0,0,0,0.0);width:440px;height:50px;padding: 0 15px;background: #E2E5E9;color:#626E7F;margin: 10px 15px 0 15px;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;border-radius: 3px;}
#e-mail:focus{ border: 1px solid #9BA5B4; outline: 0px solid #9BA5B4;background: #FFFFFF;border-radius: 3px;}
#errors{padding: 2px 15px;color: red;line-height: 1.6;}
#bug_descript{width:440px;height:115px;padding: 20px 15px;border: 1px solid rgba(0,0,0,0.0);background: #E2E5E9;color:#626E7F;margin: 20px 15px 0 15px;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;border-radius: 3px; resize: none;}
#bug_descript:focus{ border: 1px solid #9BA5B4; outline: 0px solid #9BA5B4;background: #FFFFFF;border-radius: 3px;}

#send_report{width:116px;height: 46px; border: 2px solid #2ECC71;background-color: #FFFFFF;float: right;margin: 18px 15px 0 0;font-family: 'HelveticaNeueCyr-Roman', sans-serif ;color:#657182;}
#send_report:focus{outline: 0px solid #9BA5B4;}


.scroll_bottom span
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #6B7B92;
  border-bottom: 2px solid #6B7B92;
  margin: 2px 0 0px 5px;
}
.unu
{
  margin-top: 6px;
}
.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}
.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}
.mouse
{
height: 21px;
width: 14px;
  border-radius: 10px;
  transform: none;
  border: 2px solid #6B7B92;
  top: 170px;
}
.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #6B7B92;
  position: relative;
}
.wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}
@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}
@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* MEDIA QUERIES*/

@media only screen and (max-width : 1280px),
only screen and (max-device-width : 1280px){
.logo {font-family:'Modulus Medium', sans-serif;; font-size:170px; text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); cursor: default; position: absolute ;top:0 ;left:0; bottom:0; right:0; margin:10% auto 0; width:235px ;height:140px;}
.section.title h4 {font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;color:#FFFFFF ;position: relative; margin-top:100px ;top:20%}
    
.logo_bottom {font-family:'Modulus Medium', sans-serif;; font-size:170px; text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); cursor: default; position: absolute ;top:0 ;left:0; bottom:0; right:0; margin:200px auto 0; width:235px ;height:140px;}
    
.section.downloads h4 {font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px ;color:#FFFFFF ;position: relative; margin-top:100px ;top:200px}
    
.report{position: relative;top:60px;margin:auto;}
.report a{font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px;color:#FFFFFF;border-bottom: 1px dotted #fff;text-decoration: none;}
.report a:hover{font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 15px;color:#FFFFFF;border-bottom: 0px dotted #fff;text-decoration: none;}
.butt-d {position: relative;top:30px;border:3px solid #FFFDFD;margin:190px auto 0;
width:300px;height: 62px;background: #E74C3C;}
.butt-d a{position: relative;top:15px;text-decoration: none;color:#FFFFFF; font-family: 'HelveticaNeueCyr-Roman', sans-serif ;font-size: 25px;text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); }
#social{position: relative;top:41%;bottom: 0;left: 0;right: 0;}
#social a{padding: 0 15px;opacity: 0.5;}
#social a:hover{padding: 0 15px;opacity: 1;}
.instruction_s {
  font-size: 14px;
}
.example-1{font-size: 14px;}
.example-2{font-size: 14px;}
}

::-webkit-scrollbar-track
{
background-color: #E59A24;
border-radius: 10px;
}

::-webkit-scrollbar
{

border-radius: 10px;
width: 4px;
background-color: #E59A24;
}

::-webkit-scrollbar-thumb
{

border-radius: 10px;
background-color:#fff;
}
