//compileCompressed: style.css , outputStyle: compressed
@font-face{
    font-family: Avenir;
    src:url(../fonts/AvenirLTStd-Roman.otf);
}
html,body{
    height: 100%;
}
body{
    background-color:#523e55;
    background-repeat: no-repeat;
    font-family: 'Avenir';
}
.wrapper{
    margin: 30px 0;
    background-color: #F2F0EA;
    border-radius: 4px;
    #logo{
        padding:8px 8px 8px 12px;
        background-color: #1D1D20;
        border-top-left-radius: 4px;
    }
    .article-bg{
        padding: 0;
        border-top-left-radius: 4px;
        height: 100%;
        ul{
            padding: 0px;
            margin: 0px;
        }
        li{
            list-style-type: none;
            a:first-child{
                border-top-left-radius: 4px;
            }
            a{
                position: relative;
                padding: 20px 25px;
                display: block;
            }
        }
    }
    .main-bg{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color:#FAF8F2;
        min-height: 720px;
        .pagename{
            border-top-right-radius: 4px;
            padding:30px 15px;
            font-size:20px;
            color:#70757C;
        }
        .plitka{
            padding:0 15px 20px 15px;
            .plitka_element{
                margin-top:20px;
                background-color: #FFFFFF;
                height: 240px;
                .picture{
                    width: 100%;
                    height: 200px;
                    background-color: #f1e2f4;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    img{
                        padding: 52px 0;
                        margin: auto;
                        display: block;
                    }
                }
                .description{
                    padding: 10px 15px;
                    overflow: hidden;
                }
                a{
                    -webkit-transition: all .15s ease;
                    -moz-transition: all .15s ease;
                    -ms-transition: all .15s ease;
                    -o-transition: all .15s ease;
                    transition: all .15s ease;
                    color:#523e55;
                    display: block;
                    text-decoration: none;
                    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
                    border-radius:4px;
                }
                a:hover{
                    -webkit-transition: all .15s ease;
                    -moz-transition: all .15s ease;
                    -ms-transition: all .15s ease;
                    -o-transition: all .15s ease;
                    transition: all .15s ease;
                    box-shadow: 0 3px 2px rgba(0,0,0,0.2);
                }
            }
        }
    }
}
.selector-bs{
    padding: 2px 3px;
    height: 24px;
    width: 75px;
    font-size: 11px;
    background-color: #F8F7F7;
    color:#A7A39F;
    border-color: #E8E5E3;
    border-radius: 3px;
    box-shadow:0 0 0 rgba(0,0,0,.075);
}
.selector-bs:focus{
    outline: 0px;
    border:1px solid #e8e5e3;
    box-shadow:0 0 0 rgba(0,0,0,.075);
}
option{
    color:#A7A39F;
    background-color:#F8F7F7 ;
}
select{
    color:#A7A39F;
}
.control-elements-middle{
    color:#70757C;
    font-size: 16px;
    padding:10px 0 20px 0;
    button{
        border-color:#E8E5E3;
        color:#A7A39F;
        font-size: 7px;
        padding: 6px 7px;
    }
}
.right-element{
    float:right;
}

.graph-pie{
    span{
        font-size:14px;
        color:#767A81;
    }
}


.active{
    background-color: #FAF8F2;
    box-shadow: 0 2px #e1dfd9;
}

@media only screen and (max-width : 820px),
only screen and (max-device-width : 820px){
    .statistic-top-element{
        margin-top:10px;
    }
    .active:after {
        display: none;
        content: '';
        position: absolute;
        left:92%;
        margin-top: 7px;
        width: 10px;
        height: 10px;
        border: 5px solid transparent;
        border-right-color: #FFFFFF;
        z-index: 11;
    }
}
