<div class="row wrapper">
            <article class="article-bg col-xs-2 col-sm-2 col-md-1">
                <ul>
                    <li>
                        <a href="math/#/dashboard" class="active"><img src="https://maxcdn.icons8.com/Color/PNG/48/Programming/dashboard-48.png" title="Dashboard" width="48"></a>
                    </li>
                    <li>
                        <a href=""><img src="https://maxcdn.icons8.com/Color/PNG/48/Business/statistics-48.png" title="Statistics" width="48"></a>
                    </li>
                    <li>
                        <a href=""><img src="https://maxcdn.icons8.com/Color/PNG/48/Very_Basic/settings-48.png" title="Settings" width="48"></a>
                    </li>
                </ul>
            </article>
            <main class="main-bg col-xs-10 col-sm-10 col-md-11">
                <div class="row pagename">
                      <div class="col-sm-12 col-md-2">Dashboard {{profile.email}}</div>
                </div>
                <div class="row plitka">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                         <div class="plitka_element">
                             <a href="math//#/example" ng-click="setExample('add');">
                             <div class="picture"><img src="img/plus.png" alt=""></div>
                             <div class="description">
                                 Аddition
                             </div>
                             </a>
                         </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="plitka_element">
                            <a href="math//#/example" ng-click="setExample('sub');">
                            <div class="picture"><img src="img/minus.png" alt=""></div>
                            <div class="description">
                                Subtraction
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="plitka_element">
                            <a href="math//#/example" ng-click="setExample('mull');">
                            <div class="picture"><img src="img/multiply.png" alt=""></div>
                            <div class="description">
                                Multiplication
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="plitka_element">
                            <a href="math//#/example" ng-click="setExample('div');">
                            <div class="picture"><img src="img/divide.png" alt=""></div>
                            <div class="description">
                                Division
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
    </main>
</div>
<div class="btn btn-primary" ng-click="logout();">Logout</div>
<script>
    $(document).ready(function(){
        var url = window.location.href;
        $('.article-bg ul li a').each(function(){
            url === this.href?$(this).addClass('active'):$(this).removeClass('active');
        });
        $('.article-bg ul li a').click(function(){
            $('.article-bg ul li a').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
        });
    });
</script>
